<header>
    <nav>
        <ul>
            <li>
                <a href="/" class="<%= path === "/" ? "active" : ""  %>">Users</a>
                <a href="/add-user" class="<%= path === "/users" ? "active" : ""  %>">Add user</a>
            </li>
        </ul>
    </nav>
</header>